In [37]:
import pandas as pd
from urllib.request import urlopen
from urllib.parse import urlencode
from bs4 import BeautifulSoup

endpoint = 'https://apis.data.go.kr/1613000/RTMSDataSvcAptTrade/getRTMSDataSvcAptTrade'

data = {}
data['serviceKey'] = 'tbOeln218mlFzZGEg0FOpAUMt4sGrK82weJ7YP0CfvzoSFZ3nAcrPtKEv0sq1mcSd8Abk0m9I2DBE2wIl/gFZg=='
data['LAWD_CD'] = 11110
data['DEAL_YMD'] = 202403


url = endpoint + '?' + urlencode(data)

result = urlopen(url)
house = BeautifulSoup(result,'lxml-xml')

In [38]:
te = house.find_all('item')

df = pd.DataFrame()
for trans in te:
  temp = {child.name : child.text for child in trans.find_all(recursive=False)}
  df = pd.concat([df, pd.DataFrame([temp])], ignore_index=True)
df

,aptDong,aptNm,buildYear,buyerGbn,cdealDay,cdealType,dealAmount,dealDay,dealMonth,dealYear,dealingGbn,estateAgentSggNm,excluUseAr,floor,jibun,landLeaseholdGbn,rgstDate,sggCd,slerGbn,umdNm
0,제101,아남1,1995,개인,,,"127,000",29,3,2024,중개거래,서울 종로구,84.9,11,4,N,24.05.13,11110,개인,명륜2가
1,제103,아남1,1995,개인,,,"120,500",28,3,2024,중개거래,서울 종로구,84.9,10,4,N,24.05.10,11110,개인,명륜2가
2,104동,경희궁롯데캐슬,2019,개인,,,"145,000",27,3,2024,중개거래,서울 종로구,84.8792,4,89,N,24.08.22,11110,개인,무악동
3,112,현대,2000,개인,,,"91,470",23,3,2024,중개거래,서울 종로구,60,7,82,N,24.08.16,11110,개인,무악동
4,104,인왕산아이파크,2008,개인,,,"180,000",26,3,2024,중개거래,서울 종로구,157.289,13,60,N,24.07.30,11110,개인,무악동
5,202,인왕산2차아이파크,2015,개인,,,"118,000",18,3,2024,중개거래,"서울 광진구, 서울 성북구, 서울 종로구",84.0283,11,88,N,24.05.27,11110,개인,무악동
6,106,종로센트레빌,2008,개인,,,"96,000",29,3,2024,중개거래,"서울 성북구, 서울 종로구",84.92,5,2-1,N,24.07.11,11110,개인,숭인동
7,101,종로청계힐스테이트,2009,개인,,,"79,000",29,3,2024,중개거래,서울 종로구,59.9426,3,766,N,24.05.07,11110,개인,숭인동
8,206,창신쌍용2,1993,개인,,,"61,850",29,3,2024,중개거래,서울 강동구,115.53,9,703,N,24.05.03,11110,개인,창신동
9,103동,경희궁롯데캐슬,2019,개인,,,"149,000",29,3,2024,중개거래,서울 종로구,84.8792,4,89,N,24.04.24,11110,개인,무악동

In [39]:
new_column_order = [
"sggCd",
"estateAgentSggNm",
"umdNm",
"aptNm",
"aptDong",
"floor",
"buildYear",
"dealYear",
"dealMonth",
"dealDay",
"dealAmount",
"excluUseAr",
"rgstDate",
"dealingGbn",
"jibun",
"buyerGbn",
"cdealDay",
"cdealType",
"landLeaseholdGbn",
"slerGbn"]
df = df[new_column_order]

df

,sggCd,estateAgentSggNm,umdNm,aptNm,aptDong,floor,buildYear,dealYear,dealMonth,dealDay,dealAmount,excluUseAr,rgstDate,dealingGbn,jibun,buyerGbn,cdealDay,cdealType,landLeaseholdGbn,slerGbn
0,11110,서울 종로구,명륜2가,아남1,제101,11,1995,2024,3,29,"127,000",84.9,24.05.13,중개거래,4,개인,,,N,개인
1,11110,서울 종로구,명륜2가,아남1,제103,10,1995,2024,3,28,"120,500",84.9,24.05.10,중개거래,4,개인,,,N,개인
2,11110,서울 종로구,무악동,경희궁롯데캐슬,104동,4,2019,2024,3,27,"145,000",84.8792,24.08.22,중개거래,89,개인,,,N,개인
3,11110,서울 종로구,무악동,현대,112,7,2000,2024,3,23,"91,470",60,24.08.16,중개거래,82,개인,,,N,개인
4,11110,서울 종로구,무악동,인왕산아이파크,104,13,2008,2024,3,26,"180,000",157.289,24.07.30,중개거래,60,개인,,,N,개인
5,11110,"서울 광진구, 서울 성북구, 서울 종로구",무악동,인왕산2차아이파크,202,11,2015,2024,3,18,"118,000",84.0283,24.05.27,중개거래,88,개인,,,N,개인
6,11110,"서울 성북구, 서울 종로구",숭인동,종로센트레빌,106,5,2008,2024,3,29,"96,000",84.92,24.07.11,중개거래,2-1,개인,,,N,개인
7,11110,서울 종로구,숭인동,종로청계힐스테이트,101,3,2009,2024,3,29,"79,000",59.9426,24.05.07,중개거래,766,개인,,,N,개인
8,11110,서울 강동구,창신동,창신쌍용2,206,9,1993,2024,3,29,"61,850",115.53,24.05.03,중개거래,703,개인,,,N,개인
9,11110,서울 종로구,무악동,경희궁롯데캐슬,103동,4,2019,2024,3,29,"149,000",84.8792,24.04.24,중개거래,89,개인,,,N,개인

In [1]:
# EUC-KR에서 UTF-8로 변환
input_file = 'original.txt'  # EUC-KR로 저장된 파일 경로
output_file = 'code.txt'  # UTF-8로 저장할 파일 경로

# 파일 변환
with open(input_file, 'r', encoding='euc-kr') as infile:
    content = infile.read()

with open(output_file, 'w', encoding='utf-8') as outfile:
    outfile.write(content)

print(f"{input_file} 파일이 UTF-8로 변환되어 {output_file}에 저장되었습니다.")

code.txt 파일이 UTF-8로 변환되어 code2.txt에 저장되었습니다.

In [14]:
import pandas as pd
from io import StringIO

file_path = 'code.txt'
df = pd.read_csv(file_path,sep='\t',encoding='utf-8')
df['법정동코드'] = df['법정동코드'].astype(str)

In [15]:
df['법정동코드'] = df['법정동코드'].str[:5]

df

       법정동코드                  법정동명 폐지여부
0      11000                 서울특별시   존재
1      11110             서울특별시 종로구   존재
2      11110         서울특별시 종로구 청운동   존재
3      11110         서울특별시 종로구 신교동   존재
4      11110         서울특별시 종로구 궁정동   존재
...      ...                   ...  ...
49854  52800    전북특별자치도 부안군 위도면 대리   존재
49855  52800   전북특별자치도 부안군 위도면 거륜리   존재
49856  52800   전북특별자치도 부안군 위도면 식도리   존재
49857  52800  전북특별자치도 부안군 위도면 상왕등리   존재
49858  52800  전북특별자치도 부안군 위도면 하왕등리   존재

[49859 rows x 3 columns]

In [5]:
df['코드']=df['코드'][:5]

In [17]:
df['폐지여부'].unique()

array(['존재', '폐지'], dtype=object)

In [16]:
df_filtered = df[df['폐지여부']=='존재']

df_filtered

       법정동코드                  법정동명 폐지여부
0      11000                 서울특별시   존재
1      11110             서울특별시 종로구   존재
2      11110         서울특별시 종로구 청운동   존재
3      11110         서울특별시 종로구 신교동   존재
4      11110         서울특별시 종로구 궁정동   존재
...      ...                   ...  ...
49854  52800    전북특별자치도 부안군 위도면 대리   존재
49855  52800   전북특별자치도 부안군 위도면 거륜리   존재
49856  52800   전북특별자치도 부안군 위도면 식도리   존재
49857  52800  전북특별자치도 부안군 위도면 상왕등리   존재
49858  52800  전북특별자치도 부안군 위도면 하왕등리   존재

[20555 rows x 3 columns]

In [18]:
df_filtered = df_filtered.drop(columns="폐지여부")

df_filtered

       법정동코드                  법정동명
0      11000                 서울특별시
1      11110             서울특별시 종로구
2      11110         서울특별시 종로구 청운동
3      11110         서울특별시 종로구 신교동
4      11110         서울특별시 종로구 궁정동
...      ...                   ...
49854  52800    전북특별자치도 부안군 위도면 대리
49855  52800   전북특별자치도 부안군 위도면 거륜리
49856  52800   전북특별자치도 부안군 위도면 식도리
49857  52800  전북특별자치도 부안군 위도면 상왕등리
49858  52800  전북특별자치도 부안군 위도면 하왕등리

[20555 rows x 2 columns]

In [19]:
df_filtered = df_filtered.rename(columns={'법정동코드':'code', '법정동명':'name'})

df_filtered

        code                  name
0      11000                 서울특별시
1      11110             서울특별시 종로구
2      11110         서울특별시 종로구 청운동
3      11110         서울특별시 종로구 신교동
4      11110         서울특별시 종로구 궁정동
...      ...                   ...
49854  52800    전북특별자치도 부안군 위도면 대리
49855  52800   전북특별자치도 부안군 위도면 거륜리
49856  52800   전북특별자치도 부안군 위도면 식도리
49857  52800  전북특별자치도 부안군 위도면 상왕등리
49858  52800  전북특별자치도 부안군 위도면 하왕등리

[20555 rows x 2 columns]

In [20]:
df_filtered.to_csv('codebook.csv')